<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Tabela Pessoa</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<h1>Lista de Clientes</h1>
	<div class="btn-group pull-right">
		<a class="btn btn-sm btn-success" th:href="@{/addCliente/}" >Adicionar Novo Cliente</a>
	</div>
	<table class="table">
		<thread class="thead-dark">
			<tr>
				<th>id</th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Endereço</th>
				<th>Email</th>
				<th>RG</th>
				<th>CPF</th>
				<th>DtNasc</th>
				<th>Cidade</th>
				
			</tr>
		</thread>
		<tbody>
			<tr th:each="cliente : ${clientes}">
				<td><span th:text="${cliente.id}"></span></td>
				<td><span th:text="${cliente.nome}"></span></td>
				<td><span th:text="${cliente.telefone}"></span></td>
				<td><span th:text="${cliente.endereco}"></span></td>
				<td><span th:text="${cliente.email}"></span></td>
				
				<td><span th:text="${cliente.rg}"></span></td>
				<td><span th:text="${cliente.cpf}"></span></td>
				<td><span th:text="${cliente.dtNasc}"></span></td>
				
				<td><span th:text="${cliente.cidade.nome}"></span></td>
				<td>
					<div class="btn-group pull-right">
						<a class="btn btn-sm btn-primary" th:href="@{/editarCliente/{id}(id=${cliente.id})}">Editar</a>
						<a class="delete btn btn-sm btn-danger" th:href="@{/removerCliente/{id}(id=${cliente.id})}">Excluir</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table> 
	
</body>
</html>