<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tabela Estado</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<h1>Lista de Estados</h1>
	<div class="btn-group pull-right">
		<a class="btn btn-sm btn-success" th:href="@{/cadastrarEstado /}" >Adicionar Novo Estado</a>
	</div>
	
	
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Nome do Produto</th>
				<th>Preço Venda</th>
				<th>qtdemin</th>
				<th>qtdest</th>
				<th>opção</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="prod : ${produtos}">

				<td><span th:text="${prod.nome}"></span></td>
				<td><span th:text="${prod.precoVenda}"></span></td>
				<td><span th:text="${prod.qtdemin}"></span></td>
				<td><span th:text="${prod.qtdest}"></span></td>
				
				
			
				<td>
					<div class="btn-group pull-right">
						<a class="btn btn-sm btn-primary" th:href="@{/editarProduto/{id}(id=${prod.id})}" >Editar</a>
			  			<a class="delete btn btn-sm btn-danger" th:href="@{/removerProduto/{id}(id=${prod.id})}">Excluir</a>
					</div>
				</td>
				

			</tr>
		</tbody>
	</table>
	 
	
</body>
</html>